@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:500&display=swap");

h1,
h3 {
    font-family: "Noto Sans JP", sans-serif;
}

h3 {
    font-weight: 500;
    font-size: 1.025rem;
}

a {
    font-size: 1rem;
}

button {
    outline: none !important;
}

img {
    width: auto;
    max-height: 400px;
}

.content-header,
.content {
    padding-top: 0.75rem;
}

@media only screen and (max-width: 300px) {
    h3 {
        font-size: 6vw;
        padding-top: 2rem;
    }

    a,
    .paragraph,
    .clickable {
        line-height: normal;
        font-size: 4vw;
    }

    svg {
        height: 1rem;
        width: 1rem;
    }

    .content-header,
    .content {
        padding-top: 1vw;
    }
}

.side-content {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

/* .random-content {
    margin-top: 4vh;
} */

@media only screen and (max-width: 300px) {
    .season {
        max-width: 10rem;
        max-height: 10rem;
    }

    .season-name {
        max-height: 1.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .card {
        max-width: 90%;
    }
}

@keyframes slide-in {
    0% {
        left: -50%;
    }

    100% {
        left: 0%;
    }
}

.slide-in {
    animation: slide-in 800ms;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    0% {
        left: 0%;
    }

    100% {
        left: -100%;
    }
}

.slide-out {
    animation: slide-out 800ms;
    animation-fill-mode: forwards;
}

.x-button {
    padding: 15px;
}

html,
body {
    width: 100%;
}