/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
 height: 400px;
 max-width: 300px;
}
h3{
  padding-top: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  color: #212121;
}
p{
  padding-top: 15px;
  font-size: 20px;
  color: #373b3b;
}
.sidebar.pure-u-1.pure-u-md-1-4{
background-color: rgb(49, 49, 49);
background-image:none;
background-origin:padding-box;
background-size:auto;
bottom:0;
box-sizing:border-box;
color:rgb(255, 255, 255);
display:block;
font-family:sans-serif;
letter-spacing:normal;
position: fixed;
text-rendering:auto;
top:0;
left: 0;
width:16rem;
z-index: 999;
-webkit-box-direction:normal;
overflow-x: hidden;
height: 100%;
}
.header{
  box-sizing:border-box;
color:rgb(255, 255, 255);
display:block;
font-family: 'Noto Sans JP', sans-serif;
height:248px;
letter-spacing:normal;
margin: 55px 32px 0;
text-align:right;
text-rendering:auto;
top:auto;
width:184px;
-webkit-box-direction:normal;

}
h1{
  box-sizing:border-box;
color:rgb(255, 255, 255);
display:block;
font-family: 'Noto Sans JP', sans-serif;
font-size:45px;
font-weight:700;
letter-spacing:normal;
text-align:right;
text-rendering:auto;
text-transform:uppercase;
-webkit-box-direction:normal;
}
.brand-title{
  color: #e8eaeb;
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 10px;
}
.brand-tagline{
  box-sizing:border-box;
color: #a2ddd5;
display:block;
font-family: 'Noto Sans JP', sans-serif;
font-size:25px;
font-weight:100;
letter-spacing:normal;
text-align:right;
text-rendering:auto;
-webkit-box-direction:normal;
margin-bottom: 20px;
}
.nav{
  box-sizing:border-box;
color:rgb(255, 255, 255);
display:block;
font-family:sans-serif;
height:94px;
letter-spacing:normal;
margin-top: 5px;
text-align:right;
text-rendering:auto;
-webkit-box-direction:normal;
}
.nav-list{
box-sizing:border-box;
color:rgb(255, 255, 255);
display:block;
font-family:sans-serif;
letter-spacing:normal;
list-style: none outside none;
padding-right:24px;
text-align:right;
text-rendering:auto;
-webkit-box-direction:normal;
}
.nav-item{
box-sizing:border-box;
color:rgb(255, 255, 255);
display:inline-block;
font-family:sans-serif;
height:48px;
letter-spacing:normal;
list-style: none outside none;
text-rendering:auto;
margin-top: 5px;
word-spacing:0;
zoom:1;
-webkit-box-direction:normal;
}
.pure-button{
  background-attachment:scroll;
background-clip:border-box;
background-color:rgba(0, 0, 0, 0);
background-image:none;
background-origin:padding-box;
background-size:auto;
border-color: #f2f4f6;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-repeat:stretch;
border-image-source:none;
border-image-width:1;
border-left-style:solid;
border-left-width:1px;
border-right-style:solid;
border-right-width:1px;
border-radius: 3px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(255, 255, 255);
cursor:pointer;
display:inline-block;
font-family:sans-serif;
font-size:15px;
height:40px;
letter-spacing:0.68px;
line-height:normal;
list-style: none outside none;
margin-top:5px;
padding: 10px 13.6px 13px;
text-align:center;
text-decoration-color:rgb(255, 255, 255);
text-decoration-line:none;
text-decoration-style:solid;
text-rendering:auto;
text-transform:uppercase;
user-select:none;
vertical-align:middle;
white-space:nowrap;
width:100px;
zoom:1;
-webkit-box-direction:normal;
-webkit-user-drag:none;
}

.content{
  box-sizing:border-box;
color:rgb(0, 0, 0);
display:block;
font-family:sans-serif;
letter-spacing:normal;
text-rendering:auto;
-webkit-box-direction:normal;
  width:98%;
  margin-right: 0.2rem;
  padding-bottom: 20px;
}
.up-nav{
  background-color: rgb(49, 49, 49);
  padding: 10px;
  position:fixed;
  max-height: 6vh;
  top:0;
  overflow: hidden;
  width: 100%;
  z-index: 33;
}
#side-bar-toggle{
  float: right;
}
button{
  text-decoration: none;
  font-family: sans-serif;
  font-size:18px;
  font-weight:400;
  background-color: #222222;
  color: #f2f4f6;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  outline: none;
}

.items.right{
  position: relative;
  float: right;
} 

.side-bar.open img{
  width:15px;
  height:15px;
}
.side-bar{
  position: fixed;
  z-index: 1000;
  top: 0.25rem;
  left:1rem;
  outline: none;
  overflow: hidden;
  height: 2.2rem;
  background-color: transparent;
}

.Cards{
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  transition: 0.5s;
  justify-content: center;
  flex-basis: fit-content;
}
.Season{
  display: block;
}
.card{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.10);
  box-sizing:border-box;
  color:rgba(0, 0, 0, 0.87);
  display:block;
  font-weight:400;
  height:auto;
  line-height:25px;
  margin-bottom: 2rem;
  margin-right:1rem;
  max-width: 300px;
  transition-delay:0s, 0s;
  transition-duration:0.25s, 0.25s;
  transition-timing-function:ease, ease;
  -webkit-font-smoothing:antialiased;
  border-radius:0.25rem;
  overflow: hidden;
}

.popup-content{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.10);
  box-sizing:border-box;
  color:rgba(0, 0, 0, 0.87);
  display:block;
  font-weight:400;
  height:auto;
  line-height:25.6px;
  margin: 11px 11px 4.5px;
  position:relative;
  padding: 20px;
  width: auto;
  transition-delay:0s, 0s;
  transition-duration:0.25s, 0.25s;
  transition-property:box-shadow, -webkit-box-shadow;
  transition-timing-function:ease, ease;
  -webkit-font-smoothing:antialiased;
  border-radius:0.25rem;
}
.random-content{
  width:300px;
}
.random{
  width: 600px;
}
.text,.data{
  margin-left: 1rem;
}
.rand-link {
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  font-size:20px;
  font-weight:400;
  color: #f2f4f6;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding-left:0.5rem;
  padding-right:0.5rem;
  line-height:2.5rem;
  background-color:#f2f4f61c;
  border-radius: 3px;
  text-transform: lowercase;
}


.random{
  margin-left: 300px;
  margin-top: 100px;
  height: 1000px;
  width: fit-content;
}

.random-content {
  margin-bottom:15px;
}
.rand-button{
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  font-size:2vh;
  font-weight:400;
  color: #f2f4f6;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 1vh 2vh;
  background-color:#f2f4f61c;
  border-radius: 3px;
  text-transform: lowercase;
  position: absolute;
  top:0;
  right: 0.5rem;
  cursor: pointer;
  outline: none;
  height: 4vh;
}
.random-content{
  position: relative;
  margin: 20px auto;
} */
